#machineRentedTable {
  height: 100%;
  position: relative
}

.ag-row-last {
  border-bottom: unset!important;
}

.machine-repairs-table .ag-row {
  cursor: pointer;
}

.dialog-paper {
  min-width: 40%;
}
